<div class="catalog__header {{data.imgBackgroundStyle}}">
    <div class="container">
        <div class="catalog__header__wrapper">
            <h1 class="catalog__header__main-title">{{catalogTitle.pageName}}</h1>
            <h2 class="catalog__header__desc">{{catalogTitle.title}}</h2>
        </div>
    </div>
</div>