<section xmlns="http://www.w3.org/1999/xhtml" data-file-edit="catalogHome" class="catalogHome" id="catalogHome">
    	<div class="container">
    
    		<h3 class="title catalogHome__main-title" data-editor-type="text">Каталог аренды машин</h3>
    
    		<menu>
    			<li class="catalogHome__item">
    				<div class="catalogHome__info">
    					<div class="catalogHome__title">Личный транспорт</div>
    					<div class="catalogHome__desc">Для передвижения с комфортом. Будьте независимы в ваших планах и стремлениях. Не мечтать, а управлять!</div>
    					<a href="/catalog/personal/" class="btn catalogHome__btn">Перейти в каталог</a>
    				</div>
    				<div class="catalogHome__img-box">
    					<img class="catalogHome__img" src="/img/catalogPersonalAuto.png" alt="каталог личного транспорта" />
    				</div>
    			</li>
    			<li class="catalogHome__item">
    				<div class="catalogHome__img-box">
    					<img class="catalogHome__img" src="/img/catalogCommercialAuto.png" alt="каталог комерческого транспорта" />
    				</div>
    				<div class="catalogHome__info">
    					<div class="catalogHome__title">Коммерческий транспорт</div>
    					<div class="catalogHome__desc">Транспортные средства, используемые для перевозки грузов или пассажиров с целью получения прибыли.</div>
    					<a href="/catalog/commercial/" class="btn catalogHome__btn">Перейти в каталог</a>
    				</div>
    			</li>
    			<li class="catalogHome__item">
    				<div class="catalogHome__info">
    					<div class="catalogHome__title">Специальный транспорт</div>
    					<div class="catalogHome__desc">Специальный транспорт и техника, используемые в целях осуществления предпринимательской деятельности.</div>
    					<a href="/catalog/special/" class="btn catalogHome__btn">Перейти в каталог</a>
    				</div>
    				<div class="catalogHome__img-box">
    					<img class="catalogHome__img" src="/img/catalogSpecialAuto.png" alt="каталог специального транспорта" />
    				</div>
    			</li>
    		</menu>
    	</div>
    </section>