<section xmlns="http://www.w3.org/1999/xhtml" data-file-edit="exchange" class="exchange-auto__background">
																																																																																				<div class="container exchange-auto">
																																																																																					<div class="exchange-auto__info">
																																																																																						<h3 class="exchange-auto__desc">Так же мы предлагаем один из лучших способов экономии при покупке автомобиля с пробегом. Всем знакомый способ с принципиально новым решением. Ищите единомышленников в новом удобном сервисе по обмену автомобилей!</h3>
																																																																																						<button class="btn exchange-auto__btn">Обмен авто</button>
																																																																																					</div>
																																																																																				</div>
																																																																																			</section>