<footer>
    <div class="cookie_notice">
        Продолжая работу с сайтом, Вы разрешаете использование cookie-файлов. Вы всегда можете отключить файлы cookie в настройках Вашего браузера.
        <div>
            <a class="cookie_btn" id="cookie_close">Согласиться</a>
            <a class="cookie_btn" href="privacy.html" target="_blank">Политика конфиденциальности</a>
        </div>
    </div>
</footer>

<!-- Yandex.Metrika counter -->
{{!-- <script async type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87361119, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87361119" style="position:absolute; left:-9999px;" alt="" /></div></noscript> --}}
<!-- /Yandex.Metrika counter -->
