<footer itemscope itemtype="http://schema.org/WPFooter" class="footer">

   <div class="container">

        <div class="footer__wrapper">
            <div class="footer__box">
                
                <a href="/"><img src="/icons/logoWhite.svg" class="footer__logo" alt="logo"/></a>

                <address class="footer__contacts">

                    <a class="footer__address">г. Москва</a>
                    <a class="footer__email" href="mailto:komm@rentauto-motion.ru">mail@rentauto-motion.ru</a>
                    {{#each phones}}
                        <a href="tel:{{phone}}" class="footer__tel">{{phoneUI}}</a> 
                    {{/each}}

                    <div class="footer__social">
                        <a href="https://www.instagram.com/rentauto.motion/"><img class="footer__social__item" src="/icons/social/instagramm.svg" alt="instagramm"></a>
						<a href="https://wa.me/79855309443"><img class="footer__social__item" src="/icons/social/whatsapp.svg" alt="whatsapp"></a>
                    </div>

                </address>
            </div>
        </div>

       <div class="footer__line"></div>

	   <meta itemprop="copyrightYear" content="2022">
       <meta itemprop="copyrightHolder" content="МинаеваА.А.">

       <div class="footer__label">© 2022 RentAuto-Motion</div>
   </div>

   

</footer>