<head itemscope itemtype="http://schema.org/WPHeader">
	<meta name="fileName" content="head">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta itemprop="description" name="description" content="Наша компания предлагает широкий выбор различных машин и автотранспорта для долгосрочной 
		аренды с возможностью выкупа. Для вашего выбора представляются различные варианты машин, от специальной и рабочей техники 
		для выполнения транспортировочных, строительных и монтажных работ, до современных комфортных легковых автомобилей.">
	<meta itemprop="keywords" name="keywords"
		content="аренда автомобилей, аренда машин, аренда машин в москве, долгосрочная аренда машин, лизинг автомобилей в москве, лизинг техники, аренда техники в москве">
	<meta name="google-site-verification" content="KA087zr9M67oIV_dPY2AoBYs8xPqP_F9H2D2mzQuWBg" />
	<link rel="stylesheet" href="/index.min.css" />
	<link rel="icon" href="/icons/favicon.ico" type="image/x-icon">
	<title itemprop="headline">Аренда машин в Москве | Долгосрочная аренда машин</title>
</head>