{{> head }}
<body>

		{{#if isHome}}
        {{>navbar}}
		{{/if}}

		{{#if isCatalog}}
			{{>navbar}}
			{{> catalogHeader}}
		{{/if}}

		{{#if isDetails}}
			{{>navbar}}
		{{/if}}

		<div class="main-container">
			{{{ body }}}
		</div>
		{{> footer}}
</body>
</html>