{{>navbar}}
<main class="main">

	<section id="slider-header" class="slider-header">
		<div class="slider-header__company-name-box company-name-box">
			<h2 data-editor="text" class="slider-header__company-name">АРЕНДА АВТО</h2>
			<h3 data-editor="text" class="slider-header__company-name__title">ДВИЖЕНИЕ НА ПУТИ К НОВЫМ ВОЗМОЖНОСТЯМ</h3>
		</div>

		<ul class="slider-header__wrapper">

			<li class="slider-header__slide__background">
				<div class="slider-header__slide__box">
					<img class="slider-header__slide__img" alt="header_auto"
						src="/img/headerBackground/machinePersonal.webp" />
				</div>
			</li>

			<li class="slider-header__slide__background">
				<div class="slider-header__slide__box">
					<img class="slider-header__slide__img" alt="header_auto"
						src="/img/headerBackground/machineCommercial.webp" />
				</div>
			</li>

			<li class="slider-header__slide__background">
				<div class="slider-header__slide__box">
					<img class="slider-header__slide__img" alt="header_auto"
						src="/img/headerBackground/machineSpecial.webp" />
				</div>
			</li>

		</ul>

		<h1 data-editor="text" class="main__title">Мечтаете о собственном автомобиле, но банки отказывают в кредитах?
			Надоело тратить деньги на каршеринг и такси? Приходите к нам!</h1>
	</section>

	{{> catalogHome}}
	<div class="container">
		<div class="line"></div>
	</div>
	{{>exchange}}
	{{> scrollSliderHome}}
	{{> questionsHome}}
	{{> footerSection}}
</main>
<script src="/{{fileScript}}"></script>