.message {
	&__text {
		text-align: center;
		color: #fff;
	}
	&__item {
		display: flex;
		position: relative;
		padding: 10px;
		border-radius: 5px;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 50px;
		list-style-type: none;
		margin-top: 10px;
		font-size: 14px;
		&:first-child {
			margin-top: 0px;
		}
		&_success {
			background: rgba(green, 0.8);
		}
		&_error {
			background: rgba(red, 0.8);
		}
	}
	&__list {
		position: absolute;
		top: 40px;
		right: 40px;
		width: 180px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		z-index: 60;
	}
	&__close {
		position: absolute;
		width: 15px;
		height: 15px;
		right: 0px;
		top: 0px;
		&:hover {
			cursor: pointer;
		}
	}
}