.auth{
    &__wrapper {
        margin-top: 20px;
        margin-left: 20px;
    }
    &__form {
        margin-top: 20px;
    }
    &__btn {
        margin-top: 20px;
    }
    &__home {
        margin-top: 40px;
    }
}