/*!*********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/admin/components/ContextMenu/context-menu.scss ***!
  \*********************************************************************************************************************************************/
.context-menu__wrapper {
  display: none;
  position: absolute;
  width: 250px;
  z-index: 3;
}
.context-menu__wrapper_active {
  display: block;
}
.context-menu__list {
  display: block;
}
.context-menu__item {
  display: block;
  list-style-type: none;
}
/*!*************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/admin/components/WindowMessage/window-message.scss ***!
  \*************************************************************************************************************************************************/
.message__text {
  text-align: center;
  color: #fff;
}
.message__item {
  display: flex;
  position: relative;
  padding: 15px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  list-style-type: none;
  margin-top: 10px;
}
.message__item:first-child {
  margin-top: 0px;
}
.message__item_success {
  background: rgba(0, 128, 0, 0.8);
}
.message__item_error {
  background: rgba(255, 0, 0, 0.8);
}
.message__list {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.message__close {
  position: absolute;
  right: 3px;
  top: 3px;
}
.message__close:hover {
  cursor: pointer;
}
/*!***********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/admin/components/SpinnerPanel/spinner-panel.scss ***!
  \***********************************************************************************************************************************************/
.spinner-panel__wrapper {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.spinner-panel__wrapper img {
  width: 100%;
  height: 100%;
}
/*!**********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/admin/components/Editor/editor.scss ***!
  \**********************************************************************************************************************************/
* {
  font-family: "SFPro-Display", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.admin-panel {
  height: 100vh;
  width: 100vw;
  display: grid;
  position: relative;
  grid-template-columns: 200px 1fr;
}
.admin-panel__button {
  width: 150px;
  height: 50px;
  background: #F28E85;
  border: 2px solid #F5BCA9;
  transition: 0.15s all;
  margin-top: 15px;
}
.admin-panel__button:first-child {
  margin-top: 0px;
}
.admin-panel__button:hover {
  background: #F5BCA9;
  transition: 0.15s all;
  cursor: pointer;
}

.wrapper-panel {
  height: 100vh;
  width: 200px;
  background: #906CD7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 20px;
}

.wrapper-iframe {
  position: relative;
  width: 100%;
}

.iframe-main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.iframe-main body {
  position: relative;
}

.modal__transparent {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 50;
}
.modal__transparent_active {
  display: block;
}

/*# sourceMappingURL=0e7ff244f830fab58df3.css.map*/