.context-menu {
	&__wrapper {
		display: none;
		position: absolute;
		width: 250px;
		z-index: 3;
		&_active {
			display: block;
		}
	}
	&__list {
		display: block;

	}
	&__item {
		display: block;
		list-style-type: none;
	}
}