@import '../../sass/btn.scss';
@import '../../sass/variables.scss';

* {
    font-family: 'SFPro-Display', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.admin-panel {
	height: 100vh;
	width: 100vw;
	display: grid;
	position: relative;
	grid-template-columns: 200px 1fr;
	&__button {
		@include btn(150px, 50px, $panel-btn-color, 2px solid $panel-btn-border-color-and-hover, $panel-btn-border-color-and-hover);
		margin-top: 15px;
		&:first-child {
			margin-top: 0px;
		}
	}
}

.wrapper-panel {
	height: 100vh;
	width: 200px;
	background: $panel-background;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0px 20px;
	z-index: 30;
}

.wrapper-iframe {
	position: relative;
	width: 100%;
}

.iframe-main {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.iframe-main body {
	position: relative;
}


