* {
    font-family: 'SFPro-Display', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.admin-panel {
	height: 100vh;
	width: 100vw;
	display: grid;
	position: relative;
	grid-template-columns: 200px 1fr;
	&__button {
		width: 150px;
		height: 50px;
		background: #F28E85;
		border: 2px solid #F5BCA9;
		transition: 0.15s all;
		margin-top: 15px;
		&:first-child {
			margin-top: 0px;
		}
		&:hover {
			background: #F5BCA9;
			transition: 0.15s all;
			cursor: pointer;
		}
	}
}

.wrapper-panel {
	height: 100vh;
	width: 200px;
	background: #906CD7;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0px 20px;
}

.wrapper-iframe {
	position: relative;
	width: 100%;
}

.iframe-main {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.iframe-main body {
	position: relative;
}

.modal {
	&__transparent {
		display: none;
		position: absolute;
		width: 100%;
		height: 100vh;
		background-color: rgba(0,0,0,.0);
		z-index: 50;
		&_active {
			display: block;
		}
	}
	
}


